 <!-- file name:footer.ejs
Parisa Modirshahla
Student number: 301138044
Date: september 21, 2021  -->



<!-- Footer -->
<footer class="page-footer font-small pattern lighten-3 pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">About Me</h5>

        <p>
          Passionate about the intersection of tech and design. She loves people
          and wants to give them the best experience using her expertise.
          Further, her mission is to solve problems in the world full of
          questions.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Cite Map</h5>

        <ul class="list-unstyled">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactme">Contact Me</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> North
              York, ON, Canada
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> parisa.modirshahla@gmail.com
            </p>
          </li>
          <li>
            <p><i class="fas fa-phone mr-3"></i>+1(437) 771 2484</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Me</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a href="#"> Parisa Modirshahla</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
