 <!-- file name:index.ejs
Parisa Modirshahla
Student number: 301138044
Date: september 21, 2021  -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parisa Modirshahla</title>
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="./owl.carousel/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="./owl.carousel/dist/assets/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="./@fortawesome/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="Content/app.css" />
  </head>
  <body>

<!-- ****************************  HEADER  ************************************* -->
    <%- include('partials/header')%>


<!-- ****************************  SLIDER  ************************************* -->
    <main>
      <div class="position-relative">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <img class="slider-image" src="/image/1.jpg" alt="" />
          </div>
          <div class="item">
            <img class="slider-image" src="/image/2.jpg" alt="" />
          </div>
          <div class="item">
            <img class="slider-image" src="/image/3.jpg" alt="" />
          </div>
        </div>
        <div class="banner">
          <div>
            <h2>Welcome ✨</h2>
            <h1>I'm Parisa Modirshahla</h1>
            <p>Front End Deveploper</p>
            <a href="/contactme" class="btn btn-outline-light">Hire Me</a>
          </div>
        </div>
      </div>
      <div class="container">

        <!--***********************  SKILLS  **************************** -->
<div class="container font_mission mt-4">
  <div class="font_mission">
   
      <div >
        
          <h1 class="">
              Frontend developer
          </h1>
          <i class="fas fa-chevron-left"></i>
        <i class="fas fa-chevron-right"></i>
          <span class="">More than 1 year</span>
      </div>
     
  </div>
<div>
    <div >
        <h3 class="">HTML</h3>
        <span class="">90%</span>
    </div>
   
       <hr class="html">
  </div>


  <div>
    <div >
        <h3 class="">CSS</h3>
        <span class="">80%</span>
    </div>
   
       <hr class="css">
  </div>



  <div>
    <div >
        <h3 class="">JavaScript</h3>
        <span class="">60%</span>
    </div>
   
       <hr class="js">
  </div>

</div>
<!-- ********************************  MY MISSION  *********************************** -->

        <h1 class="text-center text-black font-monospace mt-5 font_mission">My mission</h1>
        <div class="row gy-3 mt-1">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header pattern">SEO</div>
              <div class="card-body">
                <h5 class="card-title">Improve your SEO</h5>
                <p class="card-text">
                  I use a variety of link sources to build high-quality backlinks to your website. In addition, I offer recommendations for on-page optimization and technical SEO. These are the most important factors to consider when attempting to rank in the top Google results.
                </p>
                <!-- copyright:-----https://medium.com/startup-grind/seo-is-not-hard-a-step-by-step-seo-tutorial-for-beginners-that-will-get-you-ranked-every-single-1b903b3ab6bb -->
                <img class="img-service" src="https://miro.medium.com/max/3580/1*TtZ1bAE8DF-RNvBYYXQHgA.jpeg" alt="seo">
                <a href="#" class="btn pattern">Contact Me</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header pattern">Digital Marketing</div>
              <div class="card-body">
                <h5 class="card-title">Grow your business</h5>
                <p class="card-text">
                 <!-- copyright---- https://solutions.searchenginepeople.com/win-with-seo/?utm_term=seo%20marketing&utm_campaign=SEO&utm_source=adwords&utm_medium=ppc&hsa_tgt=kwd-41674560&hsa_grp=130503258627&hsa_src=g&hsa_net=adwords&hsa_mt=b&hsa_ver=3&hsa_ad=547569797887&hsa_acc=9679287174&hsa_kw=seo%20marketing&hsa_cam=1586039024&gclid=Cj0KCQjw18WKBhCUARIsAFiW7JyxWrwAtQr-IrDx3EDNNZDOvJi6hUzsNaA89YXGsGICqWSvpZeLsHMaArjIEALw_wcB -->
                 Put your marketing expenditures to work for you and track the real value of your money. Begin tracking revenue, customer lifetime value, and even brand lift.
                </p>
                <img class="img-service" src="https://www.thebalancecareers.com/thmb/JtZcIl70DTZ-mpWMMUQwGroVWmI=/300x200/filters:no_upscale():max_bytes(150000):strip_icc():saturation(0.2):brightness(10):contrast(5):format(webp)/digital-marketing-1222811180-3968de5d1f19400a88b1e5e44cd9fae4.jpg" alt="">
                <a href="#" class="btn pattern">Contact Me</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header pattern">Website</div>
              <div class="card-body">
                <h5 class="card-title">Create profetional Website</h5>
                <p class="card-text">
                  <!--copyright:----- https://www.chetu.com/solutions/web-development.php?keyword=website%20creating&gclid=Cj0KCQjw18WKBhCUARIsAFiW7JzvMfLZpupPN0oVl16he82zXY_PS0uDOI8kcgoP90Nm_w4VEo1-FTgaAuY8EALw_wcB -->
                  I have the solution for you, whether you need a newly created website to boost consumer interaction, a web portal to better visibility and management, or a comprehensive and feature-rich web app to automate business processes.
                </p>
                <!--copyright:---- https://uwaterloo.ca/arts-computing-newsletter/winter-2017/winter-2017/personal-websites -->
                <img class="img-service" src="https://uwaterloo.ca/arts-computing-newsletter/sites/ca.arts-computing-newsletter/files/styles/original/public/uploads/images/build_website.jpg?itok=sYGmVk7R" alt="">
                <a href="#" class="btn pattern">Contact Me</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header pattern">Content Creator</div>
              <div class="card-body">
                <h5 class="card-title">Dance the words</h5>
                <p class="card-text">
                  Having trouble coming up with enough interesting visual material to break through the crowd and actually connect with your audience? I can assist you in creating the best content possible.
                </p>
                <!--copyright:---- https://www.stateofdigitalpublishing.com/content-strategy/what-is-a-content-creator/ -->
                <img class="img-service" src="https://www.stateofdigitalpublishing.com/wp-content/uploads/2018/10/content-759x500.jpg" alt="">
                <a href="#" class="btn pattern ">Contact Me</a>
              </div>
            </div>
          </div>
        </div>
      </div>
<hr>
<!-- 
******************************  MY PROJECTS  ****************************** -->

      <div class="container">
        <h1 class="text-center text-black font-monospace mt-3 font_mission">My Projects</h1>
        <div class="row justify-content-between gy-3 mt-4">
          <div class="col-md-3">
            <div class="card" style="width: 16rem">
              <img
                src="/image/Project-1.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title fw-bold">Realtor Website</h5>
                <p class="card-text">
                  A relator personal website.
                  Show listings of new houses.
                  Consist of  pages incluing about me, site map, contact...
                </p>
                <a href="#" class="btn pattern">See More</a>
              </div>
            </div>
            
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 16rem">
              <img
                src="/image/Project-2.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title fw-bold">Shopping Website</h5>
                <p class="card-text">
                  An imaginary website template for digital products and you can add products to shopping cart. It has different pages with purple theme.
                </p>
                <a href="#" class="btn pattern">See More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 16rem">
              <img
                src="/image/Project-3.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title fw-bold">Apple store Website</h5>
                <p class="card-text">
                  It shows where the apple stores are located in Canada and show details of a specific product eg.apple watch.
           
                </p>
                <a href="#" class="btn pattern">See More</a>
              </div>
            </div>

          </div>
          <div class="col-md-3 ">
            <div class="card" style="width: 16rem">
              <img
                src="/image/Project-4.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title fw-bold">Admin dashboard </h5>
                <p class="card-text">
                  It provides convenient shortcuts for common management tasks and some server information
                </p>
                <a href="#" class="btn pattern">See More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="position-relative mt-5">
        <div >
          <div class="item">
            <img class="slider-image" src="/image/4.jpg" alt="" />
          </div>
         
        <div class="banner">
          <div>
            <h1>do you need help ?</h1>
            <a href="/contactme" class="btn btn-outline-light">Contact Me</a>
          </div>
        </div>
      </div>
    </main>

    <!-- ****************************  FOOTER  ************************************ -->
    <%- include('partials/footer') %>
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="./owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
